INSIGHTWAVE_WORKSPACE_BUCKET="<INSIGHTWAVE_WORKSPACE_BUCKET>"
# LOCAL_TESTING="true"
INSTANCE_CONNECTION_NAME="<PROJECT_ID>:<LOCATION>:<POSTGRES_INSTANCE>"
DB_NAME="<DB_NAME>"
DB_USER="<DB_USER>"
DB_PASS="<DB_PASSWORD>"